#sec-nabr-ul{
  margin-top:px;
  
  }

  #lohbtn{
    border: none;
    background-color: none;
    font-weight: 900;
  }
  
  #loca-form{
    height: 45px;
    border: 1px solid blue;
    
    
  }
.ser-inpt{
  margin: 10px 0px;
  height: 50px;

}
.hhh{
 margin-top: -5px;
}
.ser-form{
  margin: 0px 0px ;
  height: 43px;
  border-radius: 6px 0px 0px 6px;
  border: 1px solid blue;
}

  #sear-btn{
    border-radius: 0px 10px 10px 0px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0a575f;
    border: 1px solid blue;
   
    
  
  }




  #btn{
    text-align: center;
    font-weight: 900;
    width: 110px;
    height: 40px;
    border: 6px solid;
    border-radius: 20px;
    border-color: blue yellow green;
    margin-left: 20px;
  }


  a{
    text-decoration: none;
    color: blue;

  }

  

.fot-er{
  background-color: #ebeeef;
  
}















